body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#lampada {
    max-width: 100%;
    width: 50%; /* Definindo a largura como 50% do tamanho original */
    height: auto;
}